@import "../../assets/styles/scss/variables";
@import "../../assets/styles/scss/mixins";

.active::after,
header a:hover::after:not(h1 a),
header nav button:hover::after {
	content: "";
	position: absolute;
	top: 28px;
	left: 0.5rem;
	width: calc(100% - 0.5rem * 2);
	height: 2px;
	background-color: $secondary-color;
}

header {
    @include flex($direction: row, $wrap: wrap, $justify: space-between,  $align: center);
	background-color: $light-color;

    nav {
        display: flex;
        gap: 1.5rem;
        margin-right: 0.5rem;
        text-transform: uppercase;
        
        button{
            position: relative;
            padding: 0.5rem;
            border: 0;
            background-color: initial;
            text-transform: uppercase;
            font-size: 1.6rem;
            color: #333;
            cursor: pointer;
        }
    }
    
    a {
        padding: 0.5rem;
    }
}